main {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.player-game-board,
.computer-game-board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    border: 1px solid black;

    &>div {
        background-color: lightblue;
        border: 1px solid gray;
    }
}