main {
    display: flex;
    justify-content: space-evenly;
}

.player-game-board,
.computer-game-board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    border: 2px solid black;

    &>div {
        background-color: lightblue;
        border: 1px solid gray;
    }

    &>.ship {
        background-color: lightgreen;
    }

    &>.hit {
        background-color: red;
    }

    &>.miss {
        background-color: lightyellow;
    }
}